<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create folder</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="pageWrapper">
    <div class="pageCont">
      <h1 class="heading">Create a folder</h1>
      <form action="/new" method="POST">
        <div class="inputCont">
          <label for="name">Name</label>
          <input id="name" name="name" type="text" required />
        </div>
        <!-- Validation errors -->
        <%- include('partials/validationErr.ejs') %>
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
</body>
</html>