<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload files</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="pageWrapper">
    <div class="pageCont">
      <h1>Upload files</h1>
      <form 
        action="/upload<%= folderId ? `/${folderId}` : '' %>" 
        method="POST" 
        enctype="multipart/form-data"
      >
        <input type="file" name="file">
        <button type="submit">Upload</button>
        <!-- print out errors if present -->
        <%- include('partials/validationErr.ejs') %>
      </form>
    </div>
  </div>
</body>
</html>
